<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>coucou</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </head>
    <body class="container">

      {% include 'css.html.twig' %}
      {% include 'nav-save.html' %}
    <style>
      #EmpruntsTerminees  {
        color: rgba(185, 204, 220, 0.8);
        background: rgba(185, 204, 220, 0.1);
      }
    </style>

    <div class="cont">
    	<h1 class="text-primary">Liste Emprunt terminer</h1>
        <table class="table table-striped table-hover">
            <tr>
                <td><b> Id emprunt </b></td>
                <td><b> Date du pret </b></td>
                <td><b> Date retour demander </b></td>
                <td><b> Date retour effectif </b></td>

            </tr>
            {% for Tab in listeFinEm %}
            {% if Tab.DateRetourEffectif != NULL %}
      			<tr>
      				<td>{{Tab.idEmprunt}} </td>
              <td>{{Tab.DatePret|date("d/m/Y")}} </td>
              <td>{{Tab.DateRetourDemander|date("d/m/Y")}} </td>
              <td>{{Tab.DateRetourEffectif|date("d/m/Y") }}</td>
            </tr>
          {% endif %}
    		{% endfor %}
    	</table>
  </div>
    </body>
</html>
