<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Yop's home</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body class="container">
    	<h1 class="text-primary">Categorie</h1>
    	{{message}}
    	<table class="table table-striped table-hover">
    		{% for tour in listeJoueurs %}
    			<tr>
    				<td>{{tour.id}} </td>
    				<td>{{tour.nomcat}} </td>
    			</tr>
    		{% endfor %}
    	</table>


    </body>
</html>
