<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>test</title>
		    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>
            $(document).on('click', 'button.ajax', function(){
                that = $(this);
                $.ajax({
                    url:'{{ (path('indexAction')) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "some_var_name": "some_var_value"
                    },
                    async: true,
                    success: function (data)
                    {
                        console.log(data);
                        $('div#ajax-results').html(data.output);
                    }
                });
                return false;
            });
        </script>
    </head>

    <body class="container">
      {% block content %}
          <button class="ajax">click me!</button>
          <div id="ajax-results">here comes the result</div>
      {% endblock %}
  </body>
</html>
